body {
	font-family: 'Lato', sans-serif;
	color: #770;
	font-weight: 300;
}

/*Title*/
.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

/* Featured work title */
.text-muted {
	color: #bbb;
}

.text-thin {
	font-weight: 100;
}

/* center modal images */
.img-responsive, .img-rounded {
	margin: 0 auto;
}

/* project hover */
.with-hover:hover {
	cursor: pointer;
}

/* navbar */
.navbar {
	margin: 0;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	box-shadow: none;
}

.nav-justified li a:hover {
	color: #770;
	background-color: transparent;
}

.nav-justified li a {
	font-size: 1.3em;
	color: #bbb;
}

/* footer */
.navbar-bottom {
/*	background-color: black;*/
	font-weight: 300;
}

.pull-right a {	
    margin-right: 20px;
}